{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="mb-4 display-4">Events List</h1>

                <table id="eventsTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Total Worked Hours</th>
                        <th>Total Participants</th>
                        <th>Done reporting</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td><a href="{% url 'view_event' event.id %}">{{ event.name }}</a></td>
                            <td class="max-width-description">{{ event.description }}</td>
                            <td>{{ event.start_date }}</td>
                            <td>{{ event.end_date }}</td>
                            <td>{{ event.total_hours }}</td>
                            <td>{{ event.total_participants }}</td>
                            <td>
                                {% if event.done_reporting %}
                                    <p class="text-success">Yes</p>
                                {% else %}
                                    <span class="text-danger">No</span>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{% url 'add_event' %}" class="btn btn-primary">Add Event</a>
                <a href="{% url 'volunteers_list' %}" class="btn btn-secondary">Go to Volunteers List</a>
            </div>
        </div>
    </div>

    <style>
        .max-width-description {
            max-width: 300px; /* Adjust the value as needed */
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

    <script>
        $(document).ready(function () {
            var table = $('#eventsTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
                "columnDefs": [
                    {"type": "date", "targets": 3},
                    {"type": "num", "targets": [4, 5]}
                ],
                "order": [[3, 'desc']]
            });

            // Add dropdown filters
            table.columns([6]).every(function () {
                var column = this;

                var select = $('<select><option value=""></option></select>')
                    .appendTo($(column.header()))
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });

                // Extract text content of cells, excluding any HTML tags
                column.data().unique().sort().each(function (d, j) {
                    var text = $('<div>').html(d).text(); // Extract text content
                    select.append('<option value="' + text + '">' + text + '</option>');
                });
            });
        });

    </script>


{% endblock %}
