{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="mb-4 display-4">Event Details</h1>

                <div class="mb-4">
                    <p><strong>Name:</strong> {{ event.name }}</p>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Start Date:</strong> {{ event.start_date }}</p>
                    <p><strong>End Date:</strong> {{ event.end_date }}</p>
                    <!-- Display other event details as needed -->
                    <p class="mt-4"><strong>Total Hours:</strong> {{ total_hours }} hours</p>
                </div>

                <h2 class="mt-4 mb-5 display-6">Participations</h2>

                <table id="participationsTable" class="table table-striped mt-5">
                    <thead>
                    <tr>
                        <th scope="col">Volunteer Name</th>
                        <th scope="col">Worked Hours</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participation in participations %}
                        <tr>
                            <td>
                                <a href="{% url 'view_volunteer' user_id=participation.volunteer.id %}">
                                    {{ participation.volunteer.first_name }} {{ participation.volunteer.last_name }}
                                </a>
                            </td>
                            <td>{{ participation.worked_hours }} hours</td>
                            <td>{{ participation.notes }}</td>
                            <td>
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <a href="{% url 'edit_participation' participation_id=participation.id %}"
                                           class="btn btn-primary">Edit</a>
                                    </div>
                                    <div class="col-auto">
                                        <form method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete_participation"
                                                   value="{{ participation.id }}">
                                            <button type="submit" name="delete_participation_button"
                                                    class="btn btn-danger">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <a href="{% url 'events_list' %}" class="btn btn-secondary">Back</a>
                <a href="{% url 'edit_event' event_id=event.id %}" class="btn btn-primary">Edit Event</a>
                <a href="{% url 'delete_event' event.id %}" class="btn btn-danger">Delete Event</a>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var table = $('#participationsTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true,
            });
        });
    </script>


{% endblock %}
